* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-Y: hidden;
    overflow-X: hidden;
}

/* Container principal */
.absolute {
    width: 100vw;
    height: 100vh;
    background: url(/img/burbujas.jpg);
    background-size: cover;
}

/* Encabezado */
.header {
    width: 100%;
    height: 14%;
    border-bottom: #F2D064 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* titulo del encabezado */
p {
    color: white;
    font-size: 40px;
}

/* Contenedor para poner nueva contraseña */
.main {
    width: 100%;
    height: 89%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Contenedor de los inputs  */
.container {
    width: 40%;
    height: 70%;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: repeat(3, 1fr);
    border-radius: 30px;
    border: #F2D064 solid 2px;
    background: #fafafa10;
    backdrop-filter: blur(0.4rem);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

/* 'Cambiar contraseña' */
input {
    width: 80%;
    height: 60%;
    margin: auto auto;
    font-size: 25px;
    border: none;
    background: none;
    border-bottom: 2px solid white;
}

/* Texto de los inputs */
input[type="password"] {
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: bold;
}

/* content del Boton para cambiar contraseña */
.boton {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Boton */
.enviar {
    width: 65%;
    height: 60%;
    padding: 15px;
    margin: auto auto;
    color: rgb(0, 0, 0);
    font-size: 22px;
    font-weight: bold;
    border-radius: 15px;
    background-color: #F2D064;
}

/* Al poner el cursor por el boton */
.enviar:hover {
    transition: 600ms;
    width: 66%;
    height: 51%;
    color: rgb(255, 255, 255);
    font-size: 26px;
    font-weight: bold;
    border-radius: 15px;
    background-color: #f2d164e8;
}

/* Para pantallas medianas */
@media (max-width: 768px) {

    /* Titulo del encabezado */
    p {
        font-size: 2rem;
    }

    /* div del mensaje */
    .container {
        width: 75%;
        height: 58%;

    }

    /* 'Cambiar contraseña' */
    input {
        width: 75%;
        height: 60%;
    }

    /* Texto de los inputs */
    input[type="password"] {
        font-size: 20px;
    }

    /* Boton */
    .enviar {
        width: 40%;
        height: 85%;
        font-size: 23px;
}
}

/* Para pantallas pequeñas */
@media (max-width: 480px) {

    /* Titulo del encabezado */
    p {
        font-size: 24px;
    }

    /* div del mensaje */
    .container {
        width: 90%;
        height: 65%;

    }

    /* Texto de los inputs */
    input[type="password"] {
        font-size: 16px;
    }

    /* Boton */
    .enviar {
        width: 90%;
        height: 50%;
        font-size: 17px;
}
}